<template>
<div class="usage-chart pa-3">
  <v-toolbar >
    <v-layout row align-center justify-start fill-height class="pt-3">
      <v-select label="Type"
                v-model="type"
                item-text="label"
                item-value="value"
                :value="type"
                :items="typeOptions"/>

      <v-menu v-model="dateStartShow"
              :close-on-content-click="false"
              transition="scale-transition"
              full-width
              offset-y>
        <template v-slot:activator="{ on }">
          <v-text-field readonly
                        v-on="on"
                        v-model="dateStart"
                        prepend-icon="event"
                        label="Start date"/>
        </template>

        <v-date-picker v-model="dateStart"
                       @input="dateStartShow = false"/>
      </v-menu>

      <v-menu v-model="timeStartShow"
              :close-on-content-click="false"
              transition="scale-transition"
              full-width
              offset-y>
        <template v-slot:activator="{ on }">
          <v-text-field readonly
                        v-on="on"
                        v-model="timeStart"
                        prepend-icon="access_time"
                        label="Start time"/>
        </template>

        <v-time-picker v-model="timeStart"
                       @input="timeStartShow = false"/>
      </v-menu>

      <v-menu v-model="dateEndShow"
              :close-on-content-click="false"
              transition="scale-transition"
              full-width
              offset-y>
        <template v-slot:activator="{ on }">
          <v-text-field readonly
                        v-on="on"
                        v-model="dateEnd"
                        prepend-icon="event"
                        label="End date"/>
        </template>

        <v-date-picker v-model="dateEnd"
                       @input="dateEndShow = false"/>
      </v-menu>

      <v-menu v-model="timeEndShow"
              :close-on-content-click="false"
              transition="scale-transition"
              full-width
              offset-y>
        <template v-slot:activator="{ on }">
          <v-text-field readonly
                        v-on="on"
                        v-model="timeEnd"
                        prepend-icon="access_time"
                        label="End time"/>
        </template>

        <v-time-picker v-model="timeEnd"
                       @input="timeEndShow = false"/>
      </v-menu>

      <v-select prepend-icon="grain"
                label="Granularity"
                v-model="granularity"
                item-text="label"
                item-value="value"
                :value="granularity"
                :items="granularityOptions"/>
    </v-layout>
  </v-toolbar>

  <v-card>
    <line-chart v-if="loaded"
                :height="20"
                :width="80"
                :chart-data="chartData"
                :chart-options="chartOptions"/>
  </v-card>
</div>
</template>

<script>
import LineChart from './LineChart';
import {fromDateTime} from '../utils/date-time';
import * as QueryString from '../utils/query-string';

export default {
  name: 'UsageChart',

  components: {
    LineChart,
  },

  props: {
    title: {
      type   : String,
      default: '',
    },

    initType: {
      type     : String,
      default  : null,
      validator: value => ['gas', 'electricity'].includes(value),
    },

    initGranularity: {
      type     : String,
      default  : 'hour',
      validator: value => ['min', 'hour'].includes(value),
    },
  },

  /**
   * Reactive data
   *
   * @return {UsageChartData}
   */
  data () {
    const now       = new Date(),
          yesterday = new Date(now.getTime() - 86400000);

    return {
      type         : this.initType,
      granularity  : this.initGranularity,
      dateStartShow: false,
      dateStart    : yesterday.toISOString().substr(0, 10),
      timeStartShow: false,
      timeStart    : yesterday.toISOString().substr(11, 5),
      dateEndShow  : false,
      dateEnd      : now.toISOString().substr(0, 10),
      timeEndShow  : false,
      timeEnd      : now.toISOString().substr(11, 5),
      loaded       : false,
      chartData    : {},
      chartOptions : {
        responsive : true,
        scales     : {
          xAxes: [{
            type: 'time',
            scaleLabel: {
              display    : true,
              labelString: 'Time'
            }
          }],
          yAxes: [{
            scaleLabel: {
              display    : true,
              labelString: 'Usage'
            }
          }],
        },
      },
    };
  },

  computed: {
    /**
     * Options for usage type selection
     *
     * @return {SelectOption[]} List of options
     */
    typeOptions () {
      return [{
        label: 'Gas',
        value: 'gas',
      }, {
        label: 'Electricity',
        value: 'electricity',
      }];
    },

    /**
     * Options for granularity selection
     *
     * @return {SelectOption[]} List of options
     */
    granularityOptions () {
      return [{
        label: 'Minutes',
        value: 'min',
      }, {
        label: 'Hours',
        value: 'hour',
      }];
    },

    /**
     * Parameters to send to the API
     *
     * @return {ApiParams | null} API parameters
     */
    params () {
      const type          = this.type;
      const dateTimeStart = fromDateTime(this.dateStart, this.timeStart);
      const dateTimeEnd   = fromDateTime(this.dateEnd, this.timeEnd);
      const granularity   = this.granularity;

      return (type && dateTimeStart && dateTimeEnd && granularity)
        ? {
          type,
          granularity,
          dateStart: dateTimeStart.getTime() / 1000,
          dateEnd  : dateTimeEnd.getTime() / 1000,
        }
        : null;
    },
  },

  watch: {
    /**
     * Handler for when API parameters change
     *
     * Loads chart data if params is true-ish
     *
     * @param {ApiParams | null}  params  API parameters
     */
    params: {
      immediate: true,
      handler  : function (params) {
        params && this.load(params);
      },
    },
  },

  methods: {
    /**
     * Load chart data
     *
     * @param  {ApiParams}  params  API parameters
     * @return {Promise<void>}
     */
    load: async function (params) {
      this.loaded = false;

      try {
        const url  = `/api/api.php?${QueryString.stringify(params)}`,
              data = await fetch(url).then(r => r.json());

        this.loaded    = true;
        this.chartData = {
          datasets: [{
            label: 'Usage',
            data : data.map(el => ({
              x: new Date(Date.parse(el.date_time)),
              y: el.usage,
            })),
          }],
        };
      } catch (e) {
        this.loaded = false;
      }
    },
  },
};
</script>

<style scoped>
</style>
