<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-side-icon>
        <v-img src="/img/logo.svg"/>
      </v-toolbar-side-icon>
      <v-toolbar-title>Youless</v-toolbar-title>
      <v-spacer/>
      <v-btn href="https://gitlab.com/rokkie/youless-app" icon flat>
        <v-img src="/img/gitlab.svg"/>
      </v-btn>
    </v-toolbar>

    <v-content>
      <usage-chart title="Usage"
                   init-type="gas"/>
    </v-content>

    <v-footer app>
      <v-spacer/>
      <v-btn href="http://www.youless.nl" flat>
        Youless&nbsp;
        <v-icon>open_in_new</v-icon>
      </v-btn>
    </v-footer>
  </v-app>
</template>

<script>
import UsageChart from './components/UsageChart';

export default {
  name: 'App',

  components: {
    UsageChart,
  },
};
</script>
